{% form_theme form _self %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form) }}
    </div>
{% endblock  %}