{% block body_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html><head>
<style type="text/css">
    body {
        margin: 0;
        mso-line-height-rule: exactly;
        padding: 0;
        min-width: 100%;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    td {
        padding: 0;
        vertical-align: top;
    }
    .spacer,
    .border {
        font-size: 1px;
        line-height: 1px;
    }
    .spacer {
        width: 100%;
    }
    img {
        border: 0;
        -ms-interpolation-mode: bicubic;
    }
    .image {
        font-size: 12px;
        Margin-bottom: 25px;
        mso-line-height-rule: at-least;
    }
    .image img {
        display: block;
    }
    .logo {
        mso-line-height-rule: at-least;
    }
    .logo img {
        display: block;
    }
    strong {
        font-weight: bold;
    }
    h1,
    h2,
    h3,
    p,
    ol,
    ul,
    li {
        Margin-top: 0;
    }
    ol,
    ul,
    li {
        padding-left: 0;
    }
    blockquote {
        Margin-top: 0;
        Margin-right: 0;
        Margin-bottom: 0;
        padding-right: 0;
    }
    .column-top {
        font-size: 42px;
        line-height: 42px;
    }
    .column-bottom {
        font-size: 17px;
        line-height: 17px;
    }
    .column {
        text-align: left;
    }
    .contents {
        table-layout: fixed;
        width: 100%;
    }
    .padded {
        padding-left: 40px;
        padding-right: 40px;
        word-break: break-word;
        word-wrap: break-word;
    }
    .wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        min-width: 620px;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
    table.wrapper {
        table-layout: fixed;
    }
    .one-col,
    .two-col,
    .three-col {
        Margin-left: auto;
        Margin-right: auto;
        width: 600px;
    }
    .centered {
        Margin-left: auto;
        Margin-right: auto;
    }
    .two-col .image {
        Margin-bottom: 23px;
    }
    .two-col .column-bottom {
        font-size: 19px;
        line-height: 19px;
    }
    .two-col .column {
        width: 300px;
    }
    .two-col .first .padded {
        padding-left: 40px;
        padding-right: 40px;
    }
    .two-col .second .padded {
        padding-left: 40px;
        padding-right: 40px;
    }
    .three-col .image {
        Margin-bottom: 21px;
    }
    .three-col .column-bottom {
        font-size: 21px;
        line-height: 21px;
    }
    .three-col .column {
        width: 200px;
    }
    .three-col .first .padded {
        padding-left: 40px;
        padding-right: 20px;
    }
    .three-col .second .padded {
        padding-left: 30px;
        padding-right: 30px;
    }
    .three-col .third .padded {
        padding-left: 20px;
        padding-right: 40px;
    }
    @media only screen and (min-width: 0) {
        .wrapper {
            text-rendering: optimizeLegibility;
        }
    }
    @media only screen and (max-width: 620px) {
        [class=wrapper] {
            min-width: 320px !important;
            width: 100% !important;
        }
        [class=wrapper] .one-col,
        [class=wrapper] .two-col,
        [class=wrapper] .three-col {
            width: 320px !important;
        }
        [class=wrapper] .column,
        [class=wrapper] .gutter {
            display: block;
            float: left;
            width: 320px !important;
        }
        [class=wrapper] .padded {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
        [class=wrapper] .block {
            display: block !important;
        }
        [class=wrapper] .hide {
            display: none !important;
        }
        [class=wrapper] .image {
            margin-bottom: 25px !important;
        }
        [class=wrapper] .image img {
            height: auto !important;
            width: 100% !important;
        }
    }
    .wrapper h1 {
        font-weight: 500;
    }
    .wrapper h2 {
        font-weight: 500;
    }
    .wrapper h3 {
        font-weight: 700;
    }
    .wrapper p,
    .wrapper ol,
    .wrapper ul {
        font-weight: 400;
    }
    .wrapper blockquote {
        font-style: italic;
    }
    .preheader {
        font-size: 11px;
        line-height: 17px;
    }
    .preheader .title {
        padding: 9px;
        text-align: left;
        width: 50%;
    }
    .preheader .webversion {
        padding: 9px;
        text-align: right;
        width: 50%;
    }
    .preheader a,
    .footer a {
        border: none !important;
        font-weight: 700;
        letter-spacing: 0.01em;
    }
    .separator {
        font-size: 42px;
        line-height: 42px;
    }
    .divider {
        width: 100%;
    }
    .hr {
        font-size: 3px;
        line-height: 3px;
    }
    .one-col .hr {
        Margin: 0 230px 25px 230px;
    }
    .two-col .hr {
        Margin: 0 80px 23px 80px;
    }
    .three-col .hr {
        Margin: 0 40px 21px 40px;
    }
    .one-col-feature .hr {
        Margin: 0 230px 36px 230px;
    }
    .wrapper a {
        text-decoration: none;
    }
    .wrapper a:hover {
        border-bottom-color: transparent !important;
    }
    .wrapper h1 a,
    .wrapper h2 a,
    .wrapper h3 a {
        border: none;
        text-decoration: none;
    }
    .wrapper h1 a:hover,
    .wrapper h2 a:hover,
    .wrapper h3 a:hover {
        border: none !important;
    }
    .wrapper blockquote {
        Margin: 0;
        padding-right: 0;
    }
    .btn {
        Margin-bottom: 25px;
        text-align: left;
    }
    .btn a {
        border-radius: 8px;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        padding: 13px 18px;
        text-align: center;
        text-decoration: none;
    }
    .one-col-bg,
    .two-col-bg,
    .three-col-bg,
    .one-col-feature-bg {
        width: 100%;
    }
    .centered {
        background-color: #ffffff;
    }
    .one-col .column table:nth-last-child(2) td h1:last-child,
    .one-col .column table:nth-last-child(2) td h2:last-child,
    .one-col .column table:nth-last-child(2) td h3:last-child,
    .one-col .column table:nth-last-child(2) td p:last-child,
    .one-col .column table:nth-last-child(2) td ol:last-child,
    .one-col .column table:nth-last-child(2) td ul:last-child {
        Margin-bottom: 25px;
    }
    .one-col h1 {
        font-size: 36px;
        Margin-bottom: 18px;
    }
    .one-col h2 {
        font-size: 24px;
        Margin-bottom: 12px;
    }
    .one-col h3 {
        font-size: 14px;
        Margin-bottom: 10px;
    }
    .one-col p,
    .one-col ol,
    .one-col ul {
        font-size: 16px;
    }
    .one-col ol,
    .one-col ul {
        Margin-left: 17px;
    }
    .one-col li {
        padding-left: 4px;
    }
    .wrapper .one-col blockquote {
        padding-left: 16px;
    }
    .two-col .column table:nth-last-child(2) td h1:last-child,
    .two-col .column table:nth-last-child(2) td h2:last-child,
    .two-col .column table:nth-last-child(2) td h3:last-child,
    .two-col .column table:nth-last-child(2) td p:last-child,
    .two-col .column table:nth-last-child(2) td ol:last-child,
    .two-col .column table:nth-last-child(2) td ul:last-child {
        Margin-bottom: 23px;
    }
    .two-col h1 {
        font-size: 26px;
        Margin-bottom: 14px;
    }
    .two-col h2 {
        font-size: 18px;
        Margin-bottom: 10px;
    }
    .two-col h3 {
        font-size: 12px;
        Margin-bottom: 8px;
    }
    .two-col p,
    .two-col ol,
    .two-col ul {
        font-size: 14px;
    }
    .two-col ol,
    .two-col ul {
        Margin-left: 15px;
    }
    .two-col li {
        padding-left: 3px;
    }
    .two-col .btn {
        Margin-bottom: 23px;
    }
    .two-col .btn a {
        font-size: 12px;
        line-height: 14px;
        padding: 13px 10px;
    }
    .wrapper .two-col blockquote {
        padding-left: 13px;
    }
    .three-col .column table:nth-last-child(2) td h1:last-child,
    .three-col .column table:nth-last-child(2) td h2:last-child,
    .three-col .column table:nth-last-child(2) td h3:last-child,
    .three-col .column table:nth-last-child(2) td p:last-child,
    .three-col .column table:nth-last-child(2) td ol:last-child,
    .three-col .column table:nth-last-child(2) td ul:last-child {
        Margin-bottom: 21px;
    }
    .three-col h1 {
        font-size: 18px;
        Margin-bottom: 12px;
    }
    .three-col h2 {
        font-size: 16px;
        Margin-bottom: 8px;
    }
    .three-col h3 {
        font-size: 12px;
        Margin-bottom: 6px;
    }
    .three-col p,
    .three-col ol,
    .three-col ul {
        font-size: 12px;
    }
    .three-col ol,
    .three-col ul {
        Margin-left: 15px;
    }
    .three-col li {
        padding-left: 4px;
    }
    .three-col .btn {
        Margin-bottom: 21px;
    }
    .three-col .btn a {
        font-size: 10px;
        line-height: 13px;
        padding: 9px 11px 7px;
    }
    .wrapper .three-col blockquote {
        padding-left: 13px;
    }
    .one-col-feature .column {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 600px;
    }
    .one-col-feature .border {
        font-size: 3px;
        line-height: 3px;
        Margin-left: 40px;
        Margin-right: 40px;
    }
    .one-col-feature h1,
    .one-col-feature h2,
    .one-col-feature h3,
    .one-col-feature p,
    .one-col-feature .btn {
        text-align: center;
    }
    .one-col-feature h1 {
        font-size: 42px;
        Margin-bottom: 26px;
    }
    .one-col-feature h2 {
        font-size: 32px;
        Margin-bottom: 20px;
    }
    .one-col-feature h3 {
        font-size: 26px;
        Margin-bottom: 18px;
    }
    .one-col-feature p,
    .one-col-feature ol,
    .one-col-feature ul {
        font-size: 21px;
    }
    .one-col-feature ol {
        Margin-left: 31px;
    }
    .one-col-feature ol li {
        padding-left: 0;
    }
    .one-col-feature ul {
        Margin-left: 23px;
    }
    .one-col-feature ul li {
        padding-left: 9px;
    }
    .wrapper .one-col-feature blockquote {
        border-left: none;
        Margin-left: 0;
        padding-left: 0;
    }
    .one-col-feature blockquote p,
    .one-col-feature blockquote ol,
    .one-col-feature blockquote ul {
        font-style: italic;
    }
    .one-col-feature .btn {
        Margin-bottom: 36px;
    }
    .one-col-feature .btn a {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        padding: 12px 28px;
    }
    .one-col-feature .contents:nth-last-child(2) h1:last-child,
    .one-col-feature .contents:nth-last-child(2) h2:last-child,
    .one-col-feature .contents:nth-last-child(2) h3:last-child,
    .one-col-feature .contents:nth-last-child(2) p:last-child,
    .one-col-feature .contents:nth-last-child(2) ul:last-child,
    .one-col-feature .contents:nth-last-child(2) ol:last-child,
    .one-col-feature .contents:nth-last-child(2) blockquote:last-child *:last-child {
        Margin-bottom: 36px !important;
    }
    .one-col-feature .column-top {
        font-size: 42px;
        line-height: 42px;
    }
    .one-col-feature .column-bottom {
        font-size: 6px;
        line-height: 6px;
    }
    .preheader,
    .footer {
        width: 100%;
    }
    .one-col,
    .two-col,
    .three-col,
    .one-col-feature {
        table-layout: fixed;
    }
    .one-col h1 a,
    .two-col h1 a,
    .three-col h1 a {
        border: none;
    }
    .header {
        width: 100%;
    }
    .logo {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 600px;
    }
    .logo div {
        font-size: 36px;
        font-weight: 400;
        line-height: 46px;
    }
    .logo div a {
        text-decoration: none;
        border: none;
    }
    .logo div.logo-center {
        text-align: center;
    }
    .logo div.logo-center img {
        Margin-left: auto;
        Margin-right: auto;
    }
    .footer .inner {
        width: 600px;
    }
    .footer .padded {
        padding: 0;
        Margin-left: 20px;
        Margin-right: 20px;
    }
    .footer .social,
    .footer .campaign {
        padding-top: 40px;
        padding-bottom: 75px;
        text-align: left;
    }
    .footer .campaign {
        font-size: 11px;
        line-height: 17px;
    }
    .footer .social {
        font-size: 10px;
        text-transform: uppercase;
        width: 170px;
    }
    .footer .social a {
        line-height: 12px;
    }
    .footer .social .padded div {
        Margin-bottom: 10px;
    }
    .footer .social img {
        vertical-align: middle;
    }
    .footer .social span {
        mso-text-raise: 11px;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) {
        [class$=-bg] + [class$=-bg] .centered {
            box-shadow: 0 -10px 0 #ffffff;
        }
    }
    @media only screen and (max-width: 620px) {
        [class=wrapper] blockquote {
            border-left-width: 5px !important;
            padding-left: 15px !important;
        }
        [class=wrapper] .preheader .title {
            display: none;
        }
        [class=wrapper] .preheader .webversion {
            text-align: center !important;
        }
        [class=wrapper] .logo {
            width: 280px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
        [class=wrapper] .logo img {
            max-width: 280px !important;
            height: auto !important;
        }
        [class=wrapper] h1 {
            font-size: 36px !important;
            margin-bottom: 18px !important;
        }
        [class=wrapper] h2 {
            font-size: 24px !important;
            margin-bottom: 12px !important;
        }
        [class=wrapper] h3 {
            font-size: 14px !important;
            margin-bottom: 10px !important;
        }
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h1:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h1:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h1:last-child,
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h2:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h2:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h2:last-child,
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h3:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h3:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h3:last-child,
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td p:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td p:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td p:last-child,
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td ol:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td ol:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td ol:last-child,
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td ul:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td ul:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td ul:last-child {
            Margin-bottom: 25px !important;
        }
        [class=wrapper] .one-col p,
        [class=wrapper] .two-col p,
        [class=wrapper] .three-col p,
        [class=wrapper] .one-col ol,
        [class=wrapper] .two-col ol,
        [class=wrapper] .three-col ol,
        [class=wrapper] .one-col ul,
        [class=wrapper] .two-col ul,
        [class=wrapper] .three-col ul {
            font-size: 16px !important;
        }
        [class=wrapper] ol,
        [class=wrapper] ul {
            margin-left: 17px;
        }
        [class=wrapper] li {
            padding-left: 4px;
        }
        [class=wrapper] .btn {
            margin-bottom: 25px !important;
        }
        [class=wrapper] .btn a {
            display: block !important;
            font-size: 14px !important;
            line-height: 18px !important;
            width: auto !important;
        }
        [class=wrapper] .hr {
            Margin: 0 auto 25px auto !important;
            width: 60px;
        }
        [class=wrapper] .separator {
            width: 320px !important;
        }
        [class=wrapper] .two-col .btn a,
        [class=wrapper] .three-col .btn a {
            padding: 13px 10px !important;
        }
        [class=wrapper] .column-bottom {
            font-size: 17px !important;
            line-height: 17px !important;
        }
        [class=wrapper] .first .column-bottom,
        [class=wrapper] .three-col .second .column-bottom {
            display: none;
        }
        [class=wrapper] .second .column-top,
        [class=wrapper] .third .column-top {
            display: none;
        }
        [class=wrapper] .one-col-feature h1 {
            font-size: 36px !important;
            margin-bottom: 22px !important;
        }
        [class=wrapper] .one-col-feature h2 {
            font-size: 26px !important;
            margin-bottom: 18px !important;
        }
        [class=wrapper] .one-col-feature h3 {
            font-size: 24px !important;
            margin-bottom: 16px !important;
        }
        [class=wrapper] .one-col-feature p,
        [class=wrapper] .one-col-feature ol,
        [class=wrapper] .one-col-feature ul {
            font-size: 18px !important;
        }
        [class=wrapper] .one-col-feature ol {
            margin-left: 28px !important;
        }
        [class=wrapper] .one-col-feature ol li {
            padding-left: 0 !important;
        }
        [class=wrapper] .one-col-feature ul {
            margin-left: 20px !important;
        }
        [class=wrapper] .one-col-feature ul li {
            padding-left: 8px !important;
        }
        [class=wrapper] .one-col-feature .btn a {
            margin-left: 0;
            margin-right: 0;
        }
        [class=wrapper] .one-col-feature blockquote {
            border-left: none !important;
            padding-left: 0 !important;
        }
        [class=wrapper] .footer td {
            display: none;
        }
        [class=wrapper] .footer .inner {
            display: block !important;
            padding-top: 15px !important;
            padding-bottom: 10px !important;
            width: auto !important;
        }
        [class=wrapper] .footer table {
            margin-left: auto !important;
            margin-right: auto !important;
            width: auto !important;
        }
        [class=wrapper] .footer .campaign,
        [class=wrapper] .footer .social {
            display: block !important;
            padding-top: 15px !important;
            padding-bottom: 10px !important;
            text-align: center !important;
            width: 320px !important;
        }
        [class=wrapper] .footer .padded {
            margin: 0 !important;
        }
    }
</style>
<!--[if (gte mso 9)|(IE)]>
<style>
    body {
        background-color: #ffffff;
    }
    li {
        padding-left: 5px !important;
        margin-left: 10px !important;
    }
    ol, ul {
        margin-left: 20px !important;
    }
    .feature ol, .feature ul {
        margin-left: 28px !important;
    }
    .feature li {
        padding-left: 1px !important;
    }
    .column-top {
        mso-line-height-rule: exactly !important;
    }
</style>
<![endif]-->
</head>
<body style="margin: 0;mso-line-height-rule: exactly;padding: 0;min-width: 100%"><style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Merriweather:400italic,400,700,700italic);@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);@import url(https://fonts.googleapis.com/css?family=Merriweather:400italic,400,700,700italic);.wrapper,.separator,.header,.one-col-bg,.two-col-bg,.three-col-bg,.one-col-feature-bg{background-color:#1c3f78}h1{color:#202020}.wrapper h1{}.wrapper h1{font-family:Georgia,serif}@media only screen and (min-width: 0){.wrapper h1{font-family:Merriweather,Georgia,serif !important}}h1{}.one-col h1{line-height:46px}.two-col h1{line-height:36px}.three-col
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          h1{line-height:26px}.one-col-feature h1{line-height:52px}@media only screen and (max-width: 620px){h1{line-height:46px !important}}h2{color:#333}.wrapper h2{}.wrapper h2{font-family:sans-serif}@media only screen and (min-width: 0){.wrapper h2{font-family:Cabin,Avenir,sans-serif !important}}h2{}.one-col h2{line-height:32px}.two-col h2{line-height:26px}.three-col h2{line-height:22px}.one-col-feature h2{line-height:42px}@media only screen and (max-width: 620px){h2{line-height:32px !important}}h3{color:#555}.wrapper h3{}.wrapper h3{font-family:sans-serif}@media only screen and (min-width: 0){.wrapper h3{font-family:Cabin,Avenir,sans-serif !important}}h3{}.one-col h3{line-height:22px}.two-col h3{line-height:20px}.three-col h3{line-height:18px}.one-col-feature h3{line-height:36px}@media only screen and (max-width: 620px){h3{line-height:22px !important}}p,ol,ul{color:#595959}.wrapper
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           p,.wrapper ol,.wrapper ul{}.wrapper p,.wrapper ol,.wrapper ul{font-family:sans-serif}@media only screen and (min-width: 0){.wrapper p,.wrapper ol,.wrapper ul{font-family:"Open Sans",sans-serif !important}}p,ol,ul{}.one-col p,.one-col ol,.one-col ul{line-height:24px;Margin-bottom:24px}.two-col p,.two-col ol,.two-col ul{line-height:22px;Margin-bottom:22px}.three-col p,.three-col ol,.three-col ul{line-height:20px;Margin-bottom:20px}.one-col-feature p,.one-col-feature ol,.one-col-feature ul{line-height:30px;Margin-bottom:30px}@media only screen and (max-width: 620px){p,ol,ul{line-height:24px !important;Margin-bottom:24px !important}}.image{color:#595959}.image{font-family:sans-serif}@media only screen and (min-width: 0){.image{font-family:"Open Sans",sans-serif !important}}.wrapper h1 a,.wrapper h2 a,.wrapper h3 a,.wrapper p a,.wrapper li a{border-bottom:1px solid
    #fc9c2a;color:#fc9c2a}.wrapper h1 a:hover,.wrapper h2 a:hover,.wrapper h3 a:hover,.wrapper p a:hover,.wrapper li a:hover{border-bottom:1px solid #f08403 !important;color:#f08403 !important}.wrapper .logo div{color:#202020}.wrapper .logo div{font-family:Georgia,serif}@media only screen and (min-width: 0){.wrapper .logo div{font-family:Merriweather,Georgia,serif !important}}.wrapper .logo div a{color:#202020}.wrapper .logo div a:hover{color:#202020 !important;border:none !important}.wrapper .btn a{border:1px solid #fc9c2a;color:#fc9c2a}.wrapper .btn a{font-family:sans-serif}@media only screen and (min-width: 0){.wrapper .btn a{font-family:"Open Sans",sans-serif !important}}.wrapper .btn a:hover{border:1px solid #f08403 !important;color:#f08403 !important}.wrapper .preheader a,.wrapper .footer a{color:#fff}.wrapper .preheader a:hover,.wrapper .footer a:hover{color:#e6e6e6
    !important;border:none !important}.wrapper .one-col-feature h1 a,.wrapper .one-col-feature h2 a,.wrapper .one-col-feature h3 a,.wrapper .one-col-feature p a,.wrapper .one-col-feature li a{border-bottom:1px solid #fc9c2a;color:#fc9c2a}.wrapper .one-col-feature h1 a:hover,.wrapper .one-col-feature h2 a:hover,.wrapper .one-col-feature h3 a:hover,.wrapper .one-col-feature p a:hover,.wrapper .one-col-feature li a:hover{border-bottom:1px solid #f08403 !important;color:#f08403 !important}.wrapper .one-col-feature .btn a{border:2px solid #fc9c2a;color:#fc9c2a}.wrapper .one-col-feature .btn a:hover{border:2px solid #f08403 !important;color:#f08403 !important}.wrapper blockquote{border-left:5px solid #16325e}.hr{background-color:#16325e}.one-col-feature .border{background-color:#16325e}.one-col-feature hr{background-color:#16325e;color:#16325e}.preheader td,.footer .address,.footer
    .campaign,.footer p{color:#fff}.preheader td,.footer .address,.footer .campaign,.footer p{font-family:sans-serif}@media only screen and (min-width: 0){.preheader td,.footer .address,.footer .campaign,.footer p{font-family:"Open Sans",sans-serif !important}}.social a{}.social a{font-family:sans-serif}@media only screen and (min-width: 0){.social a{font-family:"Open Sans",sans-serif !important}}.preheader .title{background-color:#19396c}.preheader .webversion{background-color:#173463}.footer,.footer .one-col{background-color:#183768}.emb-editor-canvas{background-color:#183768}@media (min-width:0){body{background-color:#183768}}
</style>




<center class="wrapper" style="display: table;table-layout: fixed;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #1c3f78">
    <table class="preheader" style="border-collapse: collapse;border-spacing: 0;font-size: 11px;line-height: 17px;width: 100%">
        <tbody><tr>
            <td class="title" style="padding: 9px;vertical-align: top;color: #fff;font-family: sans-serif;text-align: left;width: 50%;background-color: #19396c">
                {#<div>Stock Newsletter</div>#}
            </td>
            <td class="webversion" style="padding: 9px;vertical-align: top;color: #fff;font-family: sans-serif;text-align: right;width: 50%;background-color: #173463">
                {#No Images? <a style="border: none !important;font-weight: 700;letter-spacing: 0.01em;text-decoration: none;color: #fff" href="http://tradernow.cmail2.com/t/i-e-jlydtkl-l-y/">Click here</a>#}
            </td>
        </tr>
        </tbody></table>
    <table class="header" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #1c3f78" align="center">
        <tbody><tr>
            <td style="padding: 0;vertical-align: top"> </td>
            <td class="logo" style="padding: 0;vertical-align: top;mso-line-height-rule: at-least;padding-top: 40px;padding-bottom: 40px;width: 600px">
                {#<div class="logo-left" style="font-size: 36px;font-weight: 400;line-height: 46px;color: #202020;font-family: Georgia,serif" align="left" id="emb-email-header"><a style="text-decoration: none;border: none;color: #202020" href="http://tradernow.cmail2.com/t/i-i-jlydtkl-l-r/"><img style="border: 0;-ms-interpolation-mode: bicubic;display: block;max-width: 297px" src="http://i1.cmail2.com/ei/i/E3/28A/598/205044/csfinal/trader-white1.png" alt="Trader Now â??Â Stock Newsletter" width="198" height="49"></a></div>#}
            </td>
            <td style="padding: 0;vertical-align: top"> </td>
        </tr>
        </tbody></table>

    <table class="one-col-bg" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #1c3f78">
        <tbody><tr>
            <td style="padding: 0;vertical-align: top" align="center">
                <table class="one-col centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;background-color: #ffffff;width: 600px;table-layout: fixed">
                    <tbody><tr>
                        <td class="column" style="padding: 0;vertical-align: top;text-align: left">
                            <div><div class="column-top" style="font-size: 42px;line-height: 42px"> </div></div>
                            <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                                <tbody><tr>
                                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 40px;padding-right: 40px;word-break: break-word;word-wrap: break-word">
                                        <br>
                                        <h1 style="Margin-top: 0;color: #202020;font-weight: 500;font-family: Georgia,serif;font-size: 36px;Margin-bottom: 18px;line-height: 46px">{{ news.getContent().getTitle() }}</h1>



        {{  news.getContent().getBody() | raw }}
        <br>
        <p><a href="{{ unsubscribe }}">Unsubscribed</a></p>


                                        </p>
                                        {#<p style="Margin-top: 0;color: #595959;font-weight: 400;font-family: sans-serif;font-size: 16px;line-height: 24px;Margin-bottom: 25px">TraderNow</p>#}
                                    </td>
                                </tr>
                                </tbody></table>

                            <div class="column-bottom" style="font-size: 17px;line-height: 17px"> </div>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
        </tbody></table>

    <div class="spacer" style="font-size: 1px;line-height: 42px;width: 100%"> </div>

    <table class="footer" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #183768">
        <tbody><tr>
            <td style="padding: 0;vertical-align: top"> </td>
            <td class="inner" style="padding: 0;vertical-align: top;width: 600px">
                <table style="border-collapse: collapse;border-spacing: 0" width="100%">
                    <tbody><tr>
                        <td class="campaign" style="padding: 0;vertical-align: top;padding-top: 40px;padding-bottom: 75px;text-align: left;font-size: 11px;line-height: 17px;color: #fff;font-family: sans-serif">
                            <div class="padded" style="padding-left: 40px;padding-right: 40px;word-break: break-word;word-wrap: break-word;padding: 0;Margin-left: 20px;Margin-right: 20px">
                                <div class="address" style="color: #fff;font-family: sans-serif"><br>

                                </div>
                                <div style="line-height: 17px; font-size: 17px;"> </div>
                                <div class="permission"></div>
                                <div>

                      <span class="block">
                        <a style="border: none !important;font-weight: 700;letter-spacing: 0.01em;text-decoration: none;color: #fff" href="">

                        </a>
                      </span>
                                </div>
                            </div>
                        </td>
                        <td class="social" style="padding: 0;vertical-align: top;padding-top: 40px;padding-bottom: 75px;text-align: left;font-size: 10px;text-transform: uppercase;width: 170px">
                            <div class="padded" style="padding-left: 40px;padding-right: 40px;word-break: break-word;word-wrap: break-word;padding: 0;Margin-left: 20px;Margin-right: 20px">

                                <div style="Margin-bottom: 10px">
                                    {#<a style="border: none !important;font-weight: 700;letter-spacing: 0.01em;font-family: sans-serif;text-decoration: none;line-height: 12px;color: #fff" href="http://tradernow.forwardtomyfriend.com/i-l-2AD73FFF-jlydtkl-l-t" lang="en"><img style="border: 0;-ms-interpolation-mode: bicubic;vertical-align: middle" src="http://i6.cmail2.com/static/eb/master/08-tint/images/forward-dark.png" alt="" width="38" height="30"><span style="mso-text-raise: 11px">Forward</span></a>#}
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
            <td style="padding: 0;vertical-align: top"> </td>
        </tr>
        </tbody></table>
</center>
{#<img style="border: 0 !important;-ms-interpolation-mode: bicubic;visibility: hidden !important;display: block !important;height: 1px !important;width: 1px !important;margin: 0 !important;padding: 0 !important" src="https://tradernow.cmail2.com/t/i-o-jlydtkl-l/o.gif" width="1" height="1" border="0" alt="">#}
</body></html>
{% endblock %}
