{% extends '::base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('pusher-notice') %}
        <div class="alert alert-{{ flashMessage.status }}" role="alert">
            {{ flashMessage.message }}
            <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
        </div>
    {% endfor %}

{% endblock %}