{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/admin.css') }}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css" >
{% endblock %}

{% block title %}Users{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('pusher-notice') %}
        <div class="alert alert-{{ flashMessage.status }}" role="alert">
            {{ flashMessage.message }}
            <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
        </div>
    {% endfor %}

    <ol class="breadcrumb">
        <li><a href="{{ path('pusher_admin_homepage') }}">News</a></li>
        <li class="active">Users</li>
    </ol>

    {% if pagination.getTotalItemCount > 0 %}

        <div class="panel panel-default">
            <div class="panel-heading">Users
                <div class="pull-right">
                    <input id="dp1" data-date-format="yyyy/mm/dd" type="text" >
                    <input id="dp2" data-date-format="yyyy/mm/dd" type="text" >

                    <a class="btn-sm btn-primary" id="getcsv" href="{{ path('pusher_admin_users_csv') }}" onclick="return getCSV();"
                       role="button">Get CSV</a>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'u.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Username', 'u.username') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Subscribed', 'u.isSubscribed') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Created', 'u.createdAt') }}</th>
                    {#<th>Options</th>#}
                </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ parseSub(user) }}</td>
                        <td>{{ user.createdAt | date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('#dp1').datepicker();
        $('#dp2').datepicker();

        function getCSV(){
            var start = $('#dp1').val(),
                    end = $('#dp2').val(),
                    link = '/preface/admin/users/csv';

            $("#getcsv").attr("href", link + '?start=' + start + '&end='+end);
        }

    </script>
{% endblock %}