{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'nav.my_profile'|trans({}, 'messages') }}</h3>
                </div>
                <div class="panel-body">

                    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                        {{ form_errors(form) }}

                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.mobileNumber) }}
                        {{ form_row(form.country) }}

                        {{ form_rest(form) }}
                        <div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>