<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Unsubscribe Confirmation Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <style>
        body { background: #F2F2F2; padding-top: 65px; text-align: center; font-family: Arial, Helvetica, sans-serif; text-align: center; }
        a, a:hover { color: #185787; }
        p { margin: 0; padding: 0 0 18px 0; font-size: 12px; color: #666; line-height: 18px; }
        .clear { clear: both; }
        .container { width: 580px; background: #FFF; position: relative; margin: 0 auto; padding: 0; }
        .container img { float: left; }
        .footer { color: #797c80; font-size: 12px; border-left: 1px solid #DDD; border-right: 1px solid #DDD; padding-top: 3px; padding-left: 39px; padding-right: 13px; padding-bottom: 1px; text-align: left; }
        .iframe { border: 1px solid #ccc; position: relative; margin: 0 auto; width: 800px; height: 500px; }
        .title { padding-top: 34px; padding-left: 39px; padding-right: 39px; text-align: left; border-left: 1px solid #DDD; border-right: 1px solid #DDD; }
        .title h2 { font-size: 30px; color: #262626; font-weight: normal; margin: 0 0 13px 0; padding: 0; letter-spacing: 0; }
        .title h3 { font-size: 17px; font-weight: normal; margin-bottom: 19px; }
    </style>
</head>

<body>


<div class="container">
    <img src="http://img.createsend1.com/img/misc/confirmations/top.gif" width="580" height="8" />
    <div class="clear"></div>
    <div class="title">
        <h2>Unsubscribe Confirmation Page</h2>
        <h3>This is the unsubscribe confirmation page.</h3>
        <p>Please click on this link for <a href="{{ link }}">Unsubscribe</a>.</p>
    </div>
    <div class="footer">&nbsp;</div>
    <img src="http://img.createsend1.com/img/misc/confirmations/bottom.gif" width="580" height="8" />
    <div class="clear"></div>
</div>

</body>
</html>