<html>
<head><meta http-equiv="Content-Type" content="text/html;charset=utf-8" /><meta name="robots" content="noindex" /><title>
        You have successfully been removed from this subscriber list
    </title><link href="http://css.createsend1.com/css/landing-pages.min.css?h=8AFBE855cauliflower" media="screen,projection" rel="stylesheet" type="text/css" /></head>
<body>
<div class="container">
    <div class="title">
        <h2>Thank You</h2>
        <p>You have been successfully removed from this subscriber list. You will no longer hear from us.</p>
    </div>
    <div class="cta">
    </div>
</div>

</body>
</html>